
.Text {
    font-family: "Source sans Pro", sans-serif;
    cursor: pointer;
}

.TextTitle {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Input {
    margin: .3rem 0;
}